// Methods
$_color-post: #4caf50;
$_color-get: #3273cd;
$_color-put: #ff9800;
$_color-delete: #f84315;
$_color-head: #9012fe;
$_color-patch: #50e3c2;
$_color-disabled: #ebebeb;
$_color-options: #0d5aa7;

$methods: (post: $_color-post),(get: $_color-get), (put: $_color-put),(delete: $_color-delete),(head: $_color-head),(patch: $_color-patch),(deprecated: $_color-disabled),(options: $_color-options)
