@mixin text_body($color: rgba(0, 0, 0, .87))
{
    color: $color;
}

@mixin text_code($color: rgba(0, 0, 0, .87))
{
    color: $color;
}

@mixin text_headline($color: rgba(0, 0, 0, .87))
{
    color: $color;
}
